fastapi
uvicorn[standard]
python-dotenv
aiofiles
websockets
openai-whisper
python-multipart
httpx
numpy
soundfile
librosa>=0.10.1
torch==2.3.0
torchaudio==2.3.0
pandas==2.2.0
pyannote-audio==3.3.2
numba>=0.59.1
huggingface_hub<1.0.0
ollama