fastapi
uvicorn[standard]
python-dotenv
aiofiles
websockets
diart
openai-whisper
python-multipart
httpx
numpy
soundfile
librosa
torch
torchaudio
pandas==2.2.0
pyannote-audio
numba>=0.59.1
librosa>=0.10.1
huggingface_hub
ollama