#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.audio-controls {
  padding: 2em;
  text-align: center;
  margin: 20px auto;
}

h1 {
  text-align: center;
}

.content-flex {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.transcript-panel {
  flex: 2;
  overflow-y: auto;
  border: 1px white;
}

.fallacy-panel {
  flex: 1;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  padding: none;
  margin: none;
}

li {
  padding: 5px;
}

.transcript-panel h2,
.fallacy-panel h2 {
  margin-top: 0;
}